<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted"><img src="https://niforeika-beach.gr/wp-content/uploads/2018/02/logo-booking-com-png-booking-com-hotels-vacation-rentals-300.png" alt="" width="65" height="60">&copy; Booking.com 2024</span>

    </div>
</footer>