<footer class="footer bg-dark py-3 mt-auto">
    <div class="container" style="display: flex;
    justify-content: center;">
        
            
                <span class="text-muted">&copy; Booking.com 2024 | Made by : Naseem Hamze & Salih Daher</span>

        
            
            




        </div>

    </div>
</footer>