<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"  >
    <div class="container-fluid">
        <a class="navbar-brand"  href="/"><b>Booking.com</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="http://localhost:3000/hotels">Home</a>
                <a class="nav-link" href="http://localhost:3000/hotels">Hotels</a>
                <a class="nav-link" href="http://localhost:3000/hotels/new">New Hotel</a>
            </div>
        </div>
        
    </div>
</nav>