<% layout('layouts/boilerplate')%>
<div class="row">
  
    <h1 class="text-center"> Add a new Room Type</h1>
    <div class="col-6 offset-3">
    <form method="post" action="/hotels/<%= hotel._id %>/rooms" novalidate class="validated-form"> 
      <div class="mb-3">
        <label class="form-label" for="name">Type Name</label>
        <input class="form-control" type="text" name="room[type]" id="type" placeholder="enter name" required>
        <div class="valid-feedback">
          Looks good!
      </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="descriptoin">descriptoin</label>
        <input class="form-control" type="text" name="room[description]" id="description" placeholder="enter describtion" required>
        <div class="valid-feedback">
          Looks good!
      </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">image</label>
        <input class="form-control" type="text" name="room[pictures]" id="pictures" placeholder="enter image" required>
        <div class="valid-feedback">
          Looks good!
      </div>
      </div>
      
    
      <div class="mb-3">
        <label class="form-label" for="price">Number Avaible</label>
        <div class="input-group">
            <input type="text" class="form-control" id="max" placeholder="0.00" aria-label="price"
                aria-describedby="price-label" name="room[max]" id="max" required>
          </div>
        <div class="valid-feedback">
            Looks good!
        </div>
      </div>
      <div class="mb-3">
        <div class="mb-3">
          <label class="form-label" for="price">Room Price</label>
          <div class="input-group">
              <span class="input-group-text" id="price-label">$</span>
              <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                  aria-describedby="price-label" name="room[price]" id="price" required>
          </div>
          <div class="valid-feedback">
              Looks good!
          </div>
      </div>
      
  <div class="mb-3">
    <button class="btn btn-success">Add Room</button>
  </div>
      </form>
      </div>
   
  </div>
