<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotels</title>
</head>
<body>
  <h1>Hotels</h1>
  <a href="http://localhost:3000/hotels/new">add hotel</a>

  <ul>
    <% for (let hotel of hotels){ %>
      <li> <a href="http://localhost:3000/hotels/<%=hotel.id%>"><%= hotel.name %></a>  </li>
    <%} %>

  </ul>
  
</body>
</html>