<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>new</title>
</head>
<body>
  <h1> Make a new hotel</h1>
  <form method="post" action="/hotels"> 
    <div>
      <label for="name">Name</label>
      <input type="text" name="hotel[name]" id="name" placeholder="enter name">
    </div>
    <div>
      <label for="descriptoin">descriptoin</label>
      <input type="text" name="hotel[describtion]" id="describtion" placeholder="enter describtion">
    </div>
    <div>
      <label for="image">image</label>
      <input type="text" name="hotel[image]" id="image" placeholder="enter image">
    </div>
    <div>
      <label for="location">location</label>
      <input type="text" name="hotel[location]" id="location" placeholder="enter location">
    </div>
    <button>Add hotel</button>

  
</body>
</html>