<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center"> Add a new hotel</h1>
    
    <div class="col-6 offset-3">
    <form method="post" action="/hotels" novalidate class="validated-form"> 

      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" name="hotel[name]" id="name" placeholder="enter name" required>
        <div class="valid-feedback">
          Looks good!
      </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="descriptoin">descriptoin</label>
        <input class="form-control" type="text" name="hotel[describtion]" id="describtion" placeholder="enter describtion" required>
        <div class="valid-feedback">
          Looks good!
      </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">image</label>
        <input class="form-control" type="text" name="hotel[image]" id="image" placeholder="enter image" required>
        <div class="valid-feedback">
          Looks good!
      </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">location</label>
        <input class="form-control" type="text" name="hotel[location]" id="location" placeholder="enter location" required>
        <div class="valid-feedback">
          Looks good!
      </div>
      </div>
      <div class="mb-3">
      <button class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0"/>
        <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z"/>
        <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
      </svg>&nbsp Add Hotel</button>
    </div>
      </form>
      </div>
   
  </div>
